{% extends 'base.html' %}

{% block content %}

<h1>Ingredient List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Available Quantity</th>
        <th>Unit</th>
        <th>Unit Price</th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
      <td><a href="{% url "update_ingredient" ingredient.pk %}">{{ ingredient.name }}</a></td>
      <td>{{ ingredient.quantity }}</td>
      <td>{{ ingredient.unit }}</td>
      <td>{{ ingredient.unit_price }}</td>
      <td><a href="{% url "delete_ingredient" ingredient.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}