{% extends 'base.html' %}

{% block content %}

<h1>Recipe Requirement List</h1>
<table>
    <tr>
        <th>Menu Item</th>
        <th>Ingredient</th>
        <th>Quantity</th>
    </tr>
    {% for recipe in reciperequirement_list %}
    <tr>
      <td><a href="{% url "update_reciperequirement" recipe.pk %}">{{ recipe.menu_item }}</a></td>
      <td>{{ recipe.ingredient}}</td>
      <td>{{ recipe.quantity }}</td>
      <td><a href="{% url "delete_reciperequirement" recipe.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}